<div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">
O Pick a Project é uma aplicação desenvolvida por alunos de Graduação de Engenharia de Software da Universidade de Brasília onde os usuarios podem criar projetos e encontrar colaboradores para os mesmos.</p>
</div>



 <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossa Equipe </h2>
                    <h3 class="section-subheading text-muted">Pick A Project</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://avatars1.githubusercontent.com/u/3246666?v=3&s=460" class="img-responsive img-circle" alt="">
                        <h4>Eduardo Brasil</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/eduardo.brasil2"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://avatars2.githubusercontent.com/u/11253021?v=3&s=400" class="img-responsive img-circle" alt="">
                        <h4>Luan Guimarães</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://avatars2.githubusercontent.com/u/5897235?v=3&s=400" class="img-responsive img-circle" alt="">
                        <h4>Filipe Duerno</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</p>