<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		<a href="#">About Us</a>
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2015 <a href="#">Pick a Project</a>.</strong> All rights reserved.
</footer>
